/* Redefinição básica para melhor compatibilidade entre navegadores */
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Centraliza o contêiner para uma experiência de login focada */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Certifique-se de que o formulário ocupe toda a altura da janela de visualização */
  background-color: #f0f0f0; /*  Fundo claro para melhor contraste */
}

/* Estiliza o formulário para deixar uma aparência limpa e moderna */
.form-control {
  width: 100%; /* Corresponde à largura do contêiner*/
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #fff; /* Fundo branco para melhor legibilidade  */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Box-shadow sutil para profundidade*/
}

/* Melhora o estilo do cabeçalho "Login*/
.form-control h3 {
  margin: 0 0 15px;
  text-align: center;
  font-weight: bold; /* Ênfase */
  color: #333; /* Deixa o texto mais escuro para melhor contraste */
}

/*  Estilizar o botão com um visual de aviso vibrante */
.btn-warning {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: #f0ad4e; /* Laranja */
  cursor: pointer; /* Indica interatividade do botão */
  transition: background-color 0.2s ease-in-out; /*Efeito de flutuação suave */
}

/* Melhora o efeito de foco do botão */
.btn-warning:hover {
  background-color: #e39c3c; /* Deixa um laranja mais escuro ao passar o mouse  */
}

/* Estilos de foco para uma experiência mais amigável */
.form-control:focus-within input {
  border-color: #f0ad4e; /* Destaca o campo ativo com uma borda laranja */
  outline: none; /* Remove o contorno padrão*/
}